* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: "inter";
    background: rgba(41, 41, 41, 1);
}

.container {
    width: 85%;
    height: auto;
    margin: auto;
}

span {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: rgba(255, 255, 255, 0.4);
}

ul li {
    list-style: none;
}

h3 {
    font-family: Inter;
    font-size: 28px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

h5 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.pad {
    padding-top: 12px;
}

.pl {
    padding-left: 4px;
}

.t-gap {
    gap: 42px;
}

.ti-gap {
    gap: 16px;
}

.tb-gap {
    gap: 6px;
}

h6 {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.main {
    display: grid;
    grid-template-columns:1fr 1,25fr 1,51fr;
    gap: 16px;
}
.box-a{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.box-b{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3 ;
}
.box-c{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end:4;
}
.box-d{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end:3;
}
.box-f{
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start: 3;
    grid-row-end:4;
}
.box-e{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:3;
    grid-row-end:4;
}
.box-shadow {
    background: rgba(61, 61, 61, 1);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.14);
}

.radius {
    border-radius: 16px;
}

.left {
    width: 33%;
}

.row {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.first-col {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: start;
}

.photo {
    width: 50%;
    text-align: right;
}

.photo img {
    width: 155px;
    height: 155px;
}

.borderline {
    border-left: 2px solid rgba(255, 196, 83, 1);
    padding: 4px 0px 4px 12px;
}

.borderline-color {
    border-left: 2px solid rgba(41, 228, 137, 1);
    padding: 4px 0px 4px 12px;
}

.sizing img {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    border: 1px 0px 0px 0px;
}

.right {
    width: 66%;
    position: relative;
    padding: 16px 0px 0px 0px;
}

.top {
    width: 100%;
    height: 400px;
    padding: 16px;
}

.list-head {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

.list-head a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 26px 0px 0px;
    color: #000;
}

.poster img {
    width: 100%;
    height: 320px;
}

.text-center {
    height: 84px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, 0.39);
    position: absolute;
    bottom: 50%;
    left: 37%;
}
.text-center p {
    text-align: justify;
}

.text-bottom p {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 12px;
}

.text-bottom span {
    text-align: right;
    display: block;
}
.final-list ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.final-list li {
    width: 30%;
    height: 76px;
    text-align: center;
    padding-top: 10px;
    border-radius: 16px;
    background: rgba(41, 41, 41, 1);
}

.final-list img {
    width: 32px;
    height: 32px;
}

.final-list h5 {
    font-size: 10px;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 2px;
}